<h1>Editing <%=@cart_product.id%></h1>

<%= render 'form' %>

<%= link_to 'Back', cart_products_path %>
<%=link_to 'Delete', cart_product_path, method: :delete, data: { confirm: "Delete #{@cart_product.id}?"}%>
