<h1>User List</h1>
<% @users.each do |user| %>
    <b><%=user.username%></b>
    <b><%= link_to "Edit", edit_user_path(user.id) %></b>
    <b><%=link_to 'Delete', user_path(user.id), method: :delete, data: { confirm: "Delete #{user.username}?"}%></b>
    <br>
<%end%>
    <b><%= link_to "Add user", new_user_path(:id) %></b>
