<% @products.each do |product| %>
  <div class="product-display-container col-sm-4">
    <a href="/products/<%=product.id%>"><img class="well" src="<%=product.image%>"></img></a><br>
    <b><%= link_to product.name, product_path(id: product.id) %></b>
    <br>
    <em>$<%=product.price%>0</em>
    <br><button onclick="addToCart()" class="cartbtn">Add to Cart</button>
  </div>
  <%end%>
