<%if @cart.products %>
<% @cart.products.each do |product| %>
  <div>
    <a href="/products/<%=product.id%>"><img src="<%=product.image%>"></img></a><br>
    <b><%= link_to product.name, product_path(id: product.id) %></b>
    <br>
    <em>$<%=product.price%>0</em>
  </div>
<%end%>
<%else%>
<h2>Your cart is empty! <a href="/">Shop here.</a><h2>
<%end%>
