// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-show-container {
  margin: auto;
}

.product-detail-container {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.cartbtn {
  border-radius: 50%;
  align: center;
}
