// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  }
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.img-circle {
  border: 1px solid orange;
    text-align: center;
  position: relative;
}

.dropbtn {
  position: absolute;
  top: 1em;
  right: 4.2em;
}

.new-btn{
  border-radius: 50%;
   position: absolute;
   left: 4.2em;
   top: 6em;
   text-decoration: none
}

.edit-btn {
  border-radius: 50%;
  position: absolute;
  left: 3.8em;
  bottom: 6em;
}
